@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 57, 38;
  --background-start-rgb: 246, 245, 242;
  --background-end-rgb: 232, 229, 221;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
